/* Define a couple Amazon font families */
/* You are free to use these throughout your landing page - here at Amazon we use similar fonts for all our UI */
@font-face {
    font-family: 'Amazon-Ember-Rg';
    src: url('fonts/amazon_ember_condensed/AmazonEmberCdRC_Rg.ttf') format('truetype');
}
@font-face {
    font-family: 'Amazon-Ember-Bd';
    src: url('fonts/amazon_ember_condensed/AmazonEmberCdRC_Bd.ttf') format('truetype');
}

/* Implement whatever other styling you want here */

/* EXAMPLE - style all the "h2" tag elements a certain way */
h2 {
    font-family: 'Amazon-Ember-Bd';
    color: #00A8E1;
    font-size: 36px;
}

p {
   font-family: 'Amazon-Ember-Rg';
   font-size: 20px;
   padding-left: 40px;
   padding-bottom: 20px; 
}

form{
    box-sizing: border-box;
}

input[type="password"], input[type="email"], #exampleInputSchool{
    padding-right: 100px;
    box-sizing: content-box;
}

td, th{
    padding-left: 100px;
}

.btn-primary {
    background-color: #00A8E1;
}


